/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************************************/
html {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	font-size: 100%; 
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

header {
	width: 940px;
	margin: 20px auto;
}

.header-background {
	background-color: #ffffff;
	width: 100%;
	height: 90px;
	position: fixed;
	top:0;
	z-index: 100;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.select-lang {
	border: none;
	color:  #585951;
	font-size: 14px;
	font-weight: normal;
}

.slideshow ,.what-can-we-do-section, .whats-happen-section, footer  {
	width: 940px;
	margin: 0 auto;
}

.slideshow {
	padding-top: 100px;
}

.sucess-section {
	width: 950px;
	margin: 0 auto;
}

.slideshow > p{
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	margin: 10px 0;
}

.slideshow-background{
	background: url(../img/Comverse_hp1.jpg) no-repeat top center;
	width: 100%;
	height:549px;
	background-attachment: fixed;
	z-index: 10;
}

.slideshow-box {
	border-radius: 6px;
	box-shadow: 0px 1px 4px 0px #a2a2a2;
	width: 290px;
	height: 174px;
	float: left;
	display: inline;
	margin-top: 100px;
	color:  #ffffff;
	font-size: 22px; 
	font-weight: 300;	
	line-height: 30px; 
	text-align: left;
	padding: 15px;
}

.slideshow-box > img {
	vertical-align: bottom;
	margin-top: 35px;
}

.slideshow-box > a {
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
}

.slideshow-box-pink {
	background-color: rgba(255, 51, 153, 0.9);
}

.slideshow-box-green {
	background-color:rgba(90, 190, 40, 0.9);
	margin-left: 35px;
}

.slideshow-box-orange {
	background-color: rgba(255, 102, 0, 0.9);
	margin-left: 35px;	
}

.slideshow-box-pink:hover {
	background-color: rgba(255, 51, 153, 1);
}

.slideshow-box-green:hover {
	background-color:rgba(90, 190, 40, 1);
	margin-left: 35px;
}

.slideshow-box-orange:hover {
	background-color: rgba(255, 102, 0, 1);
	margin-left: 35px;	
}

.slidsow-bullets-all {
	position: absolute;
	z-index: 90;
}

.slideshow-bullet {
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #e0e0e0; 
	margin-top: 17px;
}

.slideshow-bullet:hover {
	background-color: #3399cc; 
}

.what-can-we-do-background {
	background-image: url(../img/Comverse_hp2.jpg);
	background-size: cover;
	width: 100%;
	height:420px;
	padding: 50px;
	background-position: center;
}

h1 {
	color: #fff;
	font-size: 42px; 
	font-weight: normal;
	text-align: left;
	text-transform: capitalize;
}

.what-can-we-do-section  h1 {
	text-align: center;
}

.whats-happen-section  h1 {
text-align: center;
}

.sucess-section>h1 {
	text-align: center;
	color: #565656;
}

.what-can-we-do-bullets {
	margin-top: 30px;
	float: left;
}

.what-can-we-do-bullets > a {
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	text-decoration: none;	
}

.what-can-we-do-img1, .what-can-we-do-img2, .what-can-we-do-img3, .what-can-we-do-img4, .what-can-we-do-img5, .what-can-we-do-img6 {
	width: 156px;
	height: 100px;
	padding-top: 85px;
	line-height: 22px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 0.9em;
}

.what-can-we-do-img1 {
	background: url(../img/solution_icon_smart-money.png) no-repeat center;
}

.what-can-we-do-img1:hover {
	background: url(../img/solution_icon_smart-money_hover.png) no-repeat center;
}
.what-can-we-do-img2 {
	background: url(../img/solution_icon_biz-analitics.png) no-repeat center;
}

.what-can-we-do-img2:hover {
	background: url(../img/solution_icon_biz-analitics_hover.png) no-repeat center;
}

.what-can-we-do-img3 {
	background: url(../img/solution_icon_diti-cx.png) no-repeat center;
}

.what-can-we-do-img3:hover {
	background: url(../img/solution_icon_diti-cx_hover.png) no-repeat center;
}

.what-can-we-do-img4 {
	background: url(../img/solution_icon_optimize-efficnt.png) no-repeat center;
}

.what-can-we-do-img4:hover {
	background: url(../img/solution_icon_optimize-efficnt_hover.png) no-repeat center;
}

.what-can-we-do-img5 {
	background: url(../img/solution_icon_personal.png) no-repeat center;
}

.what-can-we-do-img5:hover {
	background: url(../img/solution_icon_personal_hover.png) no-repeat center;
}

.what-can-we-do-img6 {
	background: url(../img/solution_icon_biz-transform.png) no-repeat center;
}

.what-can-we-do-img6:hover {
	background: url(../img/solution_icon_biz-transform_hover.png) no-repeat center;
}

.whats-happen-background {
	background: url(../img/Comverse_hp3.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	height:453px;
	padding: 50px;
	z-index: 10;
	background-attachment: fixed;
}
.sucess-background {
	background-color: #ececec;
	width: 100%;
	height: 559px;
	padding: 50px;
}

.logo{
	display: inline;
	float: left;
}

.upper-links{
	float: right;
}

.upper-links a {
	color: #585951;
	font-size: 14px;
	text-decoration: none;
}

.upper-links a:hover {
	color: #55a9d4;
	font-size: 14px;
	text-decoration: underline;
}

.search-button {
	width: 110px;
	height: 16px;
	border: none;
	padding-left: 10px;
	float: left;
}
.search-button:focus {
 outline: 0;
}

.search-button-back {
	border-radius: 6px;
	/*background-color: #ffffff;*/
	width: 146px;
	height: 20px;
	border: 1px solid #d2d2d2;
	margin-top: 18px;
	float: right;
}

.search-button-img {
	border: none;
	background-color: #ffffff;	
	display: inline-block;
	float: left;
	margin-left: 4px;
	margin-top: 1px;
}

.divider {
	float: left;
}

.main-nav {
	float: left;
	margin-left: 20px;
}
.main-nav a{
	color:  #585951;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
}

.main-nav a:hover{
	color:  #55a9d4;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
}

.main-nav > ul > li {
	float: left;
	display: inline-block;
	padding: 10px;
	margin-top: 38px;
}

.main-nav > ul > li:hover {
	float: left;
	display: inline-block;
	padding: 10px;
	margin-top: 38px;
	border: 1px solid #d5d5d5;
	border-bottom: none;
	background-color: #fcfcfc;
	box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.44);
}

.main-nav {
	position: relative;
}

.drop-down-menu {
	border: 1px solid #d5d5d5;
	border-top: none;
	display: none;
	position: absolute;
	padding: 20px;
	background-color: #fcfcfc;
	top: 74px;
	width: 940px;
	height: 240px;
	right: -285px;
	box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.44);
}

li:hover .drop-down-menu {
  display: block;
}

.sub-menu1, .sub-menu2, .sub-menu3  {
	float: left;
	line-height: 22px;
	display: inline-block;
}

.sub-menu2 {
	margin-left: 200px;
}

.sub-menu3 {
	margin-left: 40px;
}

.big-divider {
	position: absolute;
	right: 340px;
}

.sub-menu-img {
	position: absolute;
	right: 20px;
}
.learn-more-button{
	border-radius: 6px;
	background-color:  #3399cc;
	width: 178px;
	height: 34px;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	line-height: 34px;
	text-align: left;
	border:none;
	position: absolute;
	top: 300px;
	z-index: 90;
}

.learn-more-button:hover{
	background-color:  #1b87bd;
}

.learn-more-button > img {
	margin-left: 50px;
	margin-top: 10px;
}

.see-all-button {
	border-radius: 6px;
	background-color:  #3799be;
	width: 188px;
	height: 39px;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	line-height: 34px;
	text-align: left;
	border:none;
	padding-left: 15px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}

.see-all-button:hover, .sucess-button:hover {
	background-color:  #1b87bd;
}

.sucess-button {
	border-radius: 6px;
	background-color:  #3799be;
	width: 188px;
	height: 39px;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	line-height: 34px;
	text-align: left;
	border:none;
	padding-left: 15px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 20px;
	display: block;
	}

.see-all-button > img {
	margin-left: 5px;
	margin-top: 10px;
}

.general-events-box {
	width: 296px;
	height: 200px;
	margin-top: 70px;
	float: left;
	display: inline-block;
	margin-right: 15px;
}

.general-events-box > h2 {
	color: #ffffff;
	font-size: 34px;
	font-weight: normal;
	text-align: left;
}

.white-events-box {
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 1px 4px 0px #a2a2a2;
	width: 296px;
	height: 119px;
	margin-top: 15px;
	padding-top:10px;
}

.white-events-box:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.white-events-box > time {
	display: inline-block;
	border-radius: 2px;
	background-color: #3399cc;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
	width: 69px;
	height: 99px;
	float: left;
	margin-left: 10px;
	margin-right: 15px;
	color: #ffffff;
	font-size: 48px;
	text-align: center;
}

.date-dotted-line {
	width: 69px;
	height: 66px;
	border-bottom-style: dotted;
	border-width: 1px;
	border-color: fff;
	padding: 6px 7px;
	margin-bottom: 5px;
}

.news-txt {
	color: #1a1a1a;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.white-events-box > time > p {
	color: #ffffff;
	font-size: 18px;
	text-align: center;
}

.all-news-link {
	margin-top: 15px;
}

.all-news-link > a {
	color: #fff;
	font-size: 13px;
	text-align: left;
	text-decoration: none;
	font-weight: normal;	
}

.all-news-link a:hover {
	color: #000;
}

.news-icon {
	width: 24px;
	height: 19px;
	background-image: url(../img/eventListIconNews.png);
	float: left;
}

.news-icon:hover {
	background-image: url(../img/eventListIconNews_hover.png);
}

.events-icon{
	width: 19px;
	height: 22px;
	background-image: url(../img/eventListIconEvents.png);
	float: left;
}

.events-icon:hover{
	background-image: url(../img/eventListIconEvents_hover.png);
}

.blog-icon {
	width: 22px;
	height: 22px;
	background-image: url(../img/eventListIconPress.png);
	float: left;
}

.blog-icon:hover {
	background-image: url(../img/eventListIconPress_hover.png);
}

.all-news-txt {
	margin-left: 8px;
}

.main-success-boxes{
	width: 358px;
	float: left;
	margin-top: 50px;
}

.main-success-boxes-smaller{
	width: 229px;
	float: left;
	margin-top: 50px;
}

.big-success-box{
	display: inline-block;
	float: left;
	border-radius: 2px;
	background-color: #ffffff;
	width: 349px;
	height: 208px;
	padding: 15px;
	margin-bottom: 9px;

}

.sucess-man-names{
	width: 319px;
	height: 60px;
	border-top: solid #dddddd 1px;
	margin-top: 10px;
	padding-top: 10px;
}

.sucess-man-names img {
float: right;
}

.sucess-man-names span {
	line-height: 14px;
}

.sucess-man-names-small{
	width: 200px;
	height: 60px;
	border-top: solid #dddddd 1px;
	margin-top: 10px;
	padding-top: 10px;
}

.sucess-man-names-small img {
float: right;
}

.sucess-man-names-small span {
	line-height: 14px;
}
.mid-success-box {
	display: inline-block;
	float: left;
	border-radius: 2px;
	background-color: #ffffff;
	width: 229px;
	height: 209px;
	margin-bottom: 9px;
	padding: 15px;
}

.success-logo-box {
	float: left;
	display: inline-block;
	border-radius: 2px;
	background-color: #ffffff;
	width: 110px;
	height: 97px;
	margin-right: 9px;
	margin-bottom: 9px;
}

.success-logo-box-last {
	float: left;
	display: inline-block;
	border-radius: 2px;
	background-color: #ffffff;
	width: 110px;
	height: 97px;
}

.success-man-pic {
	display: inline-block;
	float: left;
	margin-right: 15px;
}

.blockuote-big-txt {
	color: #565656;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	text-align: left;
}

.sucess-section a {
	text-decoration: none;
}

.blockuote-small-txt {
	color: #565656;
	font-size: 14px;
	font-weight: 300;
	line-height: 23px;
	text-align: left;
}

.sucees-blue-txt {
	display: block;
	color: #3aa6db;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
}

.sucees-gray-txt{
	color: #565656;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	display: inline-block;	
}

.footer-background{
	background-image: url(../img/pattern_down.jpg);
	width: 100%;
	height:323px;
}

footer h2 {
	color: #eeeeee;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
}

.footer-links {
	float: left;
	margin-top: 30px;
}

.footer-links-last{
	margin-left:70px; 
	margin-right: 60px;
	float: left;
	margin-top: 30px;
}

.footer-links a , .footer-links-last a {
	color: #eeeeee;
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	text-decoration: none;
}

.footer-aside {
	background-color: rgba(225, 225, 225, 0.1);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
	width: 263px;
	height: 323px;
	float: left;
}

.copyrigth{
	float: left;
	color: #969696;
	font-size: 12px;
	font-weight: 400;
	text-align: left;
	margin-top: 25px;
}

.copyrigth a {
	color: #969696;
	font-size: 12px;
	font-weight: 400;
	text-align: left;
	text-decoration: none;
}

.footer-aside h2 {
	color: #4ea7d3;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin: 20px 0;
}

.footer-date {
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

.footer-date > time {
	float: left;
	color: #ffffff;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	display: inline;
}

.footer-date > time > p {
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	letter-spacing: 3px;
}

.footer-date > p {
	color: #eeeeee;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	float: left;
}

.blog-txt {
	color: #eeeeee;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	display: inline-block;
	width: 150px;
}

.blog-line {
	background-color: #6a6a6a;
	box-shadow: 0px 1px 0px 0px #434343;
	width: 230px;
	height: 1px;
	margin-top: 20px;
	margin-left: 20px;
}

.social-icons {
	margin-top: 50px;
	margin-left: 20px;
}

.social-icons a {
	margin-right: 5px;
}

.blog-subscribe-input{
	border-radius: 2px;
	background-color: #ffffff;
	width: 169px;
	height: 28px;
	border: none;
	padding-left: 10px;
	color: #434242;
	font-size: 12px;
	margin-left: 20px;
}

.sign-up-button{
	border-radius: 2px;
	background: linear-gradient(0deg, #2991c5 0%, #46b5ec 100%);
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.28);
	width: 67px;
	height: 28px;
	border: none;
	margin-left: -20px;
	color: #ffffff;
	font-size: 12px;
}